.footerNav{
    text-align: center;
    width: 100%;
    color:white;
    background-color: rgb(48, 48, 48);
    font-size: 15px;
    display: table-row;
    height: 1px;
}

.footerContainer{
    height: auto;
}

.autorname{
    padding:5px 5px;
}