.presentationTxt{
    font-family:    "PantonW01-Heavy";
    font-style: italic;
    color:white;
    text-align: center;
    position:absolute;
    left: 50%;
    top:55%;
    transform: translateX(-50%) translateY(-50%);
    font-size: 35px;
    text-shadow: 1px 1px 1px black;
}

/* Add padding to containers */
.container {
    padding: 16px;
  }
  
  /* Full-width input fields */
  .registerFields[type=text], .registerFields[type=password] {
    width: 100%;
    padding: 10px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
  }
  
  .registerFields[type=text]:focus, .registerFields[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }
  
  /* Set a style for the submit/register button */
  .registerbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 25%;
  }

  label{
      color:white;
      font-family: arial;
      text-shadow: 2px 2px 2px #AA1E1E;
      font-size: 18px;
  }

  .registerbtnContainer{
      text-align: center;
  }

  .productimage {
	width: 150px;
}

.productcontainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.product-card{
    padding: 4%;
    flex-grow: 1;
    flex-basis: 16%;
    display: flex;
}

.productinfo{
    padding-left: 10px;
    color: white;
    text-shadow: 1px 1px 1px #AA1E1E;
    font-size: 25px;
}