.navBar{
    border:1px solid #ccc;
    border-width:1px 0;
    list-style:none;
    text-align:center;
    background: black;
}
.navBar li{
    display:inline;
}
.navBar a{
    display:inline-block;
    padding:10px;
    text-decoration: none;
    font-family: "PantonW01-Heavy";
    color:white;
}

#headerTitle{
    font-size: 35px;
}

.titleCategory{
    font-size: 18px;
}